ANTHROPIC_API_KEY="sk-ant-xxx"
OAUTH_CLIENT_ID="xxx.com"
OAUTH_CLIENT_SECRET="xxx"
RENDER_API_KEY="rndxxx"
SESSION_SECRET_KEY=

CHAT_PROVIDER="discord"
POLL_INTERVAL_SECONDS = 8

DISCORD_CLIENT_ID="xxx"
DISCORD_CLIENT_SECRET="xxx"
# DISCORD_REDIRECT_URI="http://127.0.0.1:8000/auth/callback"
DISCORD_BOT_TOKEN="xxx"
CHAT_CHANNEL_IDS="xxx"

